// Config profile metadata
params {
  config_profile_description = 'The Sage Bionetworks profile'
  config_profile_contact = 'Bruno Grande (@BrunoGrandePhD)'
  config_profile_url = 'https://github.com/Sage-Bionetworks-Workflows'
}

// Leverage us-east-1 mirror of select human and mouse genomes
params {
  igenomes_base = 's3://sage-igenomes/igenomes'
}

// Enable retries globally for certain exit codes
process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }
  maxRetries    = 5
  maxErrors     = '-1'
}

// Increase time limit to allow file transfers to finish
// The default is 12 hours, which results in timeouts
threadPool.FileTransfer.maxAwait = '24 hour'

// Configure Nextflow to be more reliable on AWS
aws {
  region = "us-east-1"
  client {
    uploadChunkSize = 209715200
    uploadMaxThreads = 4
  }
  batch {
    maxParallelTransfers = 1
    maxTransferAttempts = 5
    delayBetweenAttempts = '120 sec'
  }
}
executor {
    name = 'awsbatch'
    // Ensure unlimited queue size on AWS Batch
    queueSize = 500
    // Slow down the rate at which AWS Batch jobs accumulate in
    // the queue (an attempt to prevent orphaned EBS volumes)
    submitRateLimit = '5 / 1 sec'
}

// Adjust default resource allocations (see `../docs/sage.md`)
process {

  resourceLimits = [cpus: 16, memory: 128.GB, time: 240.h]

  // Slow the increase of CPUs as attempts are made, since the number
  // of cores isn't a limiting factor as often as memory
  cpus   = { 1    * Math.ceil(task.attempt / 2) as int }
  memory = { 6.GB * task.attempt }
  time   = { 24.h * task.attempt }

  // Process-specific resource requirements
  withLabel:process_low {
    cpus   = { 4     * Math.ceil(task.attempt / 2) as int }
    memory = { 12.GB * task.attempt }
    time   = { 24.h  * task.attempt }
  }
  withLabel:process_medium {
    cpus   = { 12    * Math.ceil(task.attempt / 2) as int }
    memory = { 36.GB * task.attempt }
    time   = { 48.h  * task.attempt }
  }
  withLabel:process_high {
    cpus   = { 24    * Math.ceil(task.attempt / 2) as int }
    memory = { 72.GB * task.attempt }
    time   = { 96.h  * task.attempt }
  }
  withLabel:process_long {
    time   = { 192.h  * task.attempt }
  }
  withLabel:process_high_memory {
    memory = { 128.GB * task.attempt }
  }

}
